.BayHeader {
  width: 100%;
  height: 3%;
  background-color: #393939;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Name {
  font-weight: 500;
  height: 100%;
  font-size: 1.35rem;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.Buttons {
  margin-right: 60px;
}
button {
  border-radius: 0 !important;
  border-color: #fff;
  margin: 0 5px 0 5px;
  padding: 0 15px 0 15px;
}
