:root {
  margin: 0;
  overflow: hidden!important;
  height: 100vh;
  width: 100vw;
}
.startupBackground {
  background-position: center;
  background-size: cover;
  overflow: hidden;
  z-index: 0;
}
.startup.logo {
  width: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.startup.vatscaLogo {
    width: 10vw;
    position: absolute;
    z-index: 2;
    right: 4vw;
    bottom: 4vh;
  }