body {
  background-color: #fff;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem !important;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
select {
  padding: 1rem;
  border-radius: 20px;
  font-size: 1.5rem !important;
}
button {
  padding: 1rem;
  border-radius: 20px;
  font-size: 1.5rem !important;
}
h3 {
  text-align: center;
}
